Tools/GlobalSignSSLTool/Service References/GlobalSignSSLSvc/ServerSSLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://system.globalsign.com/kb/ws/v1/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="ServerSSLService" targetNamespace="https://system.globalsign.com/kb/ws/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ns1="https://system.globalsign.com/kb/ws/" elementFormDefault="unqualified" targetNamespace="https://system.globalsign.com/kb/ws/v1/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="https://system.globalsign.com/kb/ws/" />
      <xs:element name="BusinessEVInfo" type="tns:BusinessEVInfo" />
      <xs:element name="CertInviteOrder" type="tns:CertInviteOrder" />
      <xs:element name="CertInviteOrderResponse" type="tns:CertInviteOrderResponse" />
      <xs:element name="ChangeApproverEmail" type="tns:ChangeApproverEmail" />
      <xs:element name="ChangeApproverEmailResponse" type="tns:ChangeApproverEmailResponse" />
      <xs:element name="ChangeSubjectAltName" type="tns:ChangeSubjectAltName" />
      <xs:element name="ChangeSubjectAltNameResponse" type="tns:ChangeSubjectAltNameResponse" />
      <xs:element name="DVDNSOrder" type="tns:DVDNSOrder" />
      <xs:element name="DVDNSOrderResponse" type="tns:DVDNSOrderResponse" />
      <xs:element name="DVDNSOrderWithoutCsr" type="tns:DVDNSOrderWithoutCsr" />
      <xs:element name="DVDNSOrderWithoutCsrResponse" type="tns:DVDNSOrderWithoutCsrResponse" />
      <xs:element name="DVDNSVerificationForIssue" type="tns:DVDNSVerificationForIssue" />
      <xs:element name="DVDNSVerificationForIssueResponse" type="tns:DVDNSVerificationForIssueResponse" />
      <xs:element name="DVOrder" type="tns:DVOrder" />
      <xs:element name="DVOrderResponse" type="tns:DVOrderResponse" />
      <xs:element name="DVOrderWithoutCSR" type="tns:DVOrderWithoutCSR" />
      <xs:element name="DVOrderWithoutCSRResponse" type="tns:DVOrderWithoutCSRResponse" />
      <xs:element name="EVOrder" type="tns:EVOrder" />
      <xs:element name="EVOrderResponse" type="tns:EVOrderResponse" />
      <xs:element name="GetApproverList" type="tns:GetApproverList" />
      <xs:element name="GetApproverListResponse" type="tns:GetApproverListResponse" />
      <xs:element name="GetDVApproverList" type="tns:GetDVApproverList" />
      <xs:element name="GetDVApproverListResponse" type="tns:GetDVApproverListResponse" />
      <xs:element name="ModifyOrder" type="tns:ModifyOrder" />
      <xs:element name="ModifyOrderResponse" type="tns:ModifyOrderResponse" />
      <xs:element name="OVOrder" type="tns:OVOrder" />
      <xs:element name="OVOrderResponse" type="tns:OVOrderResponse" />
      <xs:element name="OVOrderWithoutCSR" type="tns:OVOrderWithoutCSR" />
      <xs:element name="OVOrderWithoutCSRResponse" type="tns:OVOrderWithoutCSRResponse" />
      <xs:element name="QbOVOrder" type="tns:QbV1OVOrderResponse" />
      <xs:element name="QbV1DnsVerificationForIssueRequest" type="tns:QbV1DnsVerificationForIssueRequest" />
      <xs:element name="QbV1DvDnsOrderRequest" type="tns:QbV1DvDnsOrderRequest" />
      <xs:element name="QbV1DvDnsOrderResponse" type="tns:QbV1DvDnsOrderResponse" />
      <xs:element name="QbV1DvOrderRequest" type="tns:QbV1DvOrderRequest" />
      <xs:element name="QbV1DvOrderResponse" type="tns:QbV1DvOrderResponse" />
      <xs:element name="QbV1EVOrderRequest" type="tns:QbV1EVOrderRequest" />
      <xs:element name="QbV1OVOrderRequest" type="tns:QbV1OVOrderRequest" />
      <xs:element name="QbV1UrlVerificationForIssueRequest" type="tns:QbV1UrlVerificationForIssueRequest" />
      <xs:element name="QbV1UrlVerificationRequest" type="tns:QbV1UrlVerificationRequest" />
      <xs:element name="QbV1UrlVerificationResponse" type="tns:QbV1UrlVerificationResponse" />
      <xs:element name="ResendEmail" type="tns:ResendEmail" />
      <xs:element name="ResendEmailResponse" type="tns:ResendEmailResponse" />
      <xs:element name="URLVerification" type="tns:URLVerification" />
      <xs:element name="URLVerificationForIssue" type="tns:URLVerificationForIssue" />
      <xs:element name="URLVerificationForIssueResponse" type="tns:URLVerificationForIssueResponse" />
      <xs:element name="URLVerificationResponse" type="tns:URLVerificationResponse" />
      <xs:element name="URLVerificationWithoutCSR" type="tns:URLVerificationWithoutCSR" />
      <xs:element name="URLVerificationWithoutCSRResponse" type="tns:URLVerificationWithoutCSRResponse" />
      <xs:element name="qbV1CertInviteOrderRequest" type="tns:QbV1CertInviteOrderRequest" />
      <xs:element name="qbV1CertInviteOrderResponse" type="tns:QbV1CertInviteOrderResponse" />
      <xs:element name="qbV1ChangeApproverEmailsRequest" type="ns1:QbV1ChangeApproverEmailsRequest" />
      <xs:element name="qbV1ChangeApproverEmailsResponse" type="ns1:QbV1ChangeApproverEmailsResponse" />
      <xs:element name="qbV1ChangeSubjectAltNameRequest" type="tns:QbV1ChangeSubjectAltNameRequest" />
      <xs:element name="qbV1ChangeSubjectAltNameResponse" type="tns:QbV1ChangeSubjectAltNameResponse" />
      <xs:element name="qbV1DnsVerificationForIssueResponse" type="tns:QbV1DnsVerificationForIssueResponse" />
      <xs:element name="qbV1DvDnsOrderWithoutCsrRequest" type="tns:QbV1DvDnsOrderWithoutCsrRequest" />
      <xs:element name="qbV1DvDnsOrderWithoutCsrResponse" type="tns:QbV1DvDnsOrderWithoutCsrResponse" />
      <xs:element name="qbV1DvOrderWithoutCsrRequest" type="tns:QbV1DvOrderWithoutCsrRequest" />
      <xs:element name="qbV1DvOrderWithoutCsrResponse" type="tns:QbV1DvOrderWithoutCsrResponse" />
      <xs:element name="qbV1EVOrderResponse" type="tns:QbV1EVOrderResponse" />
      <xs:element name="qbV1GetApproverListRequest" type="tns:QbV1GetApproverListRequest" />
      <xs:element name="qbV1GetApproverListResponse" type="tns:QbV1GetApproverListResponse" />
      <xs:element name="qbV1GetDVApproverListRequest" type="ns1:QbV1GetDVApproverListRequest" />
      <xs:element name="qbV1GetDVApproverListResponse" type="ns1:QbV1GetDVApproverListResponse" />
      <xs:element name="qbV1ModifyOrderRequest" type="tns:QbV1ModifyOrderRequest" />
      <xs:element name="qbV1ModifyOrderResponse" type="tns:QbV1ModifyOrderResponse" />
      <xs:element name="qbV1OVOrderWithoutCSRRequest" type="tns:QbV1OVOrderWithoutCSRRequest" />
      <xs:element name="qbV1OVOrderWithoutCSRResponse" type="tns:QbV1OVOrderWithoutCSRResponse" />
      <xs:element name="qbV1ResendEmailRequest" type="tns:QbV1ResendEmailRequest" />
      <xs:element name="qbV1ResendEmailResponse" type="tns:QbV1ResendEmailResponse" />
      <xs:element name="qbV1UrlVerificationForIssueResponse" type="tns:QbV1UrlVerificationForIssueResponse" />
      <xs:element name="qbV1UrlVerificationWithoutCsrRequest" type="tns:QbV1UrlVerificationWithoutCsrRequest" />
      <xs:element name="qbV1UrlVerificationWithoutCsrResponse" type="tns:QbV1UrlVerificationWithoutCsrResponse" />
      <xs:complexType name="DVOrderWithoutCSR">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1DvOrderWithoutCsrRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DvOrderWithoutCsrRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameterWithoutCSR" type="ns1:OrderRequestParameterWithoutCSR" />
          <xs:element name="OrderID" type="xs:string" />
          <xs:element minOccurs="0" name="SubID" nillable="true" type="xs:string" />
          <xs:element name="FQDN" type="xs:string" />
          <xs:element name="DVCSRInfo" type="tns:DVCSRInfo" />
          <xs:element name="ApproverEmail" type="xs:string" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderRequestHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthToken" type="tns:AuthToken" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AuthToken">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserName" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderRequestParameter">
        <xs:sequence>
          <xs:element name="ProductCode" type="xs:string" />
          <xs:element minOccurs="0" name="BaseOption" nillable="true" type="xs:string" />
          <xs:element name="OrderKind" type="xs:string" />
          <xs:element name="Licenses" type="xs:string" />
          <xs:element minOccurs="0" name="Options" nillable="true" type="tns:Options" />
          <xs:element name="ValidityPeriod" type="tns:ValidityPeriod" />
          <xs:element name="CSR" type="xs:string" />
          <xs:element minOccurs="0" name="RenewalTargetOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TargetCERT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Coupon" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Campaign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Options">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Option">
        <xs:sequence>
          <xs:element name="OptionName" type="xs:string" />
          <xs:element name="OptionValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidityPeriod">
        <xs:sequence>
          <xs:element name="Months" type="xs:string" />
          <xs:element minOccurs="0" name="NotBefore" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotAfter" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVCSRInfo">
        <xs:sequence>
          <xs:element name="Country" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactInfo">
        <xs:sequence>
          <xs:element name="FirstName" type="xs:string" />
          <xs:element name="LastName" type="xs:string" />
          <xs:element name="Phone" type="xs:string" />
          <xs:element name="Email" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SecondContactInfo">
        <xs:sequence>
          <xs:element name="FirstName" type="xs:string" />
          <xs:element name="LastName" type="xs:string" />
          <xs:element name="Email" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SANEntries">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SANEntry" nillable="true" type="tns:SANEntry" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SANEntry">
        <xs:sequence>
          <xs:element name="SANOptionType" type="xs:string" />
          <xs:element name="SubjectAltName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVOrderWithoutCSRResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1DvOrderWithoutCsrResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DvOrderWithoutCsrResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrderResponseHeader">
        <xs:sequence>
          <xs:element name="SuccessCode" type="xs:int" />
          <xs:element minOccurs="0" name="Errors" type="tns:Errors" />
          <xs:element minOccurs="0" name="Timestamp" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Errors">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" type="tns:Error" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Error">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorField" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ModifyOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1ModifyOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1ModifyOrderRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderID" type="xs:string" />
          <xs:element name="ModifyOrderOperation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ModifyOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1ModifyOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1ModifyOrderResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EVOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1EVOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1EVOrderRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameter" type="tns:OrderRequestParameter" />
          <xs:element minOccurs="0" name="SubId" nillable="true" type="xs:string" />
          <xs:element name="OrganizationInfoEV" type="tns:OrganizationInfoEV" />
          <xs:element name="RequestorInfo" type="tns:RequestorApproverInfo" />
          <xs:element name="ApproverInfo" type="tns:RequestorApproverInfo" />
          <xs:element name="AuthorizedSignerInfo" type="tns:AuthorizedSignerInfo" />
          <xs:element name="JurisdictionInfo" type="tns:JurisdictionInfo" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrganizationInfoEV">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:BusinessEVInfo">
            <xs:sequence>
              <xs:element name="BusinessCategoryCode" type="xs:string" />
              <xs:element name="OrganizationAddress" type="tns:OrganizationAddressInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BusinessEVInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessAssumedName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditAgency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrganizationAddressInfo">
        <xs:sequence>
          <xs:element name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
          <xs:element name="City" type="xs:string" />
          <xs:element name="Region" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element name="Country" type="xs:string" />
          <xs:element name="Phone" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RequestorApproverInfo">
        <xs:sequence>
          <xs:element name="FirstName" type="xs:string" />
          <xs:element name="LastName" type="xs:string" />
          <xs:element name="Function" type="xs:string" />
          <xs:element name="OrganizationName" type="xs:string" />
          <xs:element name="OrganizationUnit" type="xs:string" />
          <xs:element name="Phone" type="xs:string" />
          <xs:element name="Email" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AuthorizedSignerInfo">
        <xs:sequence>
          <xs:element name="OrganizationName" type="xs:string" />
          <xs:element name="FirstName" type="xs:string" />
          <xs:element name="LastName" type="xs:string" />
          <xs:element name="Function" type="xs:string" />
          <xs:element name="Phone" type="xs:string" />
          <xs:element name="Email" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="JurisdictionInfo">
        <xs:sequence>
          <xs:element name="JurisdictionCountry" type="xs:string" />
          <xs:element minOccurs="0" name="JurisdictionState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JurisdictionLocality" nillable="true" type="xs:string" />
          <xs:element name="IncorporationAgencyRegistrationNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EVOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1EVOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1EVOrderResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="URLVerificationForIssue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1UrlVerificationForIssueRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1UrlVerificationForIssueRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="ApproverURL" type="xs:string" />
          <xs:element name="OrderID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="URLVerificationForIssueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1UrlVerificationForIssueResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1UrlVerificationForIssueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="URLVerificationForIssue" nillable="true" type="tns:UrlVerificationForIssueObject" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UrlVerificationForIssueObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CertificateInfo" nillable="true" type="tns:CertificateInfo" />
          <xs:element minOccurs="0" name="Fulfillment" nillable="true" type="tns:Fulfillment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CertificateInfo">
        <xs:sequence>
          <xs:element name="CertificateStatus" type="xs:string" />
          <xs:element name="StartDate" type="xs:string" />
          <xs:element name="EndDate" type="xs:string" />
          <xs:element name="CommonName" type="xs:string" />
          <xs:element name="SerialNumber" type="xs:string" />
          <xs:element name="SubjectName" type="xs:string" />
          <xs:element minOccurs="0" name="DNSNames" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Fulfillment">
        <xs:sequence>
          <xs:element minOccurs="0" name="CACertificates" nillable="true" type="tns:CACertificates" />
          <xs:element minOccurs="0" name="ServerCertificate" nillable="true" type="tns:ServerCertificate" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CACertificates">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CACertificate" nillable="true" type="tns:CACertificate" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CACertificate">
        <xs:sequence>
          <xs:element name="CACertType" type="xs:string" />
          <xs:element name="CACert" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServerCertificate">
        <xs:sequence>
          <xs:element name="X509Cert" type="xs:string" />
          <xs:element name="PKCS7Cert" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetApproverList">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1GetApproverListRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1GetApproverListRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryRequestHeader" type="tns:QueryRequestHeader" />
          <xs:element minOccurs="0" name="FQDN" type="xs:string" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryRequestHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthToken" type="tns:AuthToken" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetApproverListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1GetApproverListResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1GetApproverListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryResponseHeader" type="tns:QueryResponseHeader" />
          <xs:element minOccurs="0" name="Approvers" nillable="true" type="tns:Approvers" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryResponseHeader">
        <xs:sequence>
          <xs:element name="SuccessCode" type="xs:int" />
          <xs:element minOccurs="0" name="Errors" type="tns:Errors" />
          <xs:element minOccurs="0" name="Timestamp" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Approvers">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="SearchOrderDetail" type="tns:Approver" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Approver">
        <xs:sequence>
          <xs:element name="ApproverType" type="xs:string" />
          <xs:element name="ApproverEmail" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVDNSVerificationForIssue">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1DnsVerificationForIssueRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DnsVerificationForIssueRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="ApproverFQDN" type="xs:string" />
          <xs:element name="OrderID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVDNSVerificationForIssueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1DnsVerificationForIssueResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DnsVerificationForIssueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="URLVerificationForIssue" nillable="true" type="tns:UrlVerificationForIssueObject" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVDNSOrderWithoutCsr">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1DvDnsOrderWithoutCsrRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DvDnsOrderWithoutCsrRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameterWithoutCSR" type="ns1:OrderRequestParameterWithoutCSR" />
          <xs:element minOccurs="0" name="SubID" nillable="true" type="xs:string" />
          <xs:element name="FQDN" type="xs:string" />
          <xs:element name="DVCSRInfo" type="tns:DVCSRInfo" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVDNSOrderWithoutCsrResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1DvDnsOrderWithoutCsrResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DvDnsOrderWithoutCsrResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DNSTXT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VerificationFQDNList" nillable="true" type="tns:VerificationFQDNList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VerificationFQDNList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationFQDN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDVApproverList">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="ns1:QbV1GetDVApproverListRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDVApproverListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="ns1:QbV1GetDVApproverListResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CertInviteOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1CertInviteOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1CertInviteOrderRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameter" type="tns:CertInviteOrderRequestParameter" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:CertInviteSANEntries" />
          <xs:element name="CertInviteExpirationDate" type="xs:string" />
          <xs:element name="RecipientDeliveryOption" type="xs:string" />
          <xs:element name="CertInviteRecipientEmail" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CertInviteOrderRequestParameter">
        <xs:sequence>
          <xs:element name="ProductCode" type="xs:string" />
          <xs:element minOccurs="0" name="BaseOption" nillable="true" type="xs:string" />
          <xs:element name="OrderKind" type="xs:string" />
          <xs:element minOccurs="0" name="Options" nillable="true" type="tns:Options" />
          <xs:element name="ValidityPeriod" type="tns:ValidityPeriod" />
          <xs:element minOccurs="0" name="RenewalTargetOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Coupon" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Campaign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CertInviteSANEntries">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SANEntry" nillable="true" type="tns:CertInviteSANEntry" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CertInviteSANEntry">
        <xs:sequence>
          <xs:element name="SANOptionType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CertInviteOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1CertInviteOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1CertInviteOrderResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element name="PIN" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResendEmail">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1ResendEmailRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1ResendEmailRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderID" type="xs:string" />
          <xs:element name="ResendEmailType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResendEmailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1ResendEmailResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1ResendEmailResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OVOrderWithoutCSR">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1OVOrderWithoutCSRRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1OVOrderWithoutCSRRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameterWithoutCSR" type="ns1:OrderRequestParameterWithoutCSR" />
          <xs:element name="OrganizationInfo" type="tns:OrganizationInfo" />
          <xs:element name="SubID" type="xs:string" />
          <xs:element name="OVCSRInfo" type="tns:OVCSRInfo" />
          <xs:element name="FQDN" type="xs:string" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element name="SANEntries" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrganizationInfo">
        <xs:sequence>
          <xs:element name="OrganizationName" type="xs:string" />
          <xs:element minOccurs="0" name="CreditAgency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element name="OrganizationAddress" type="tns:OrganizationAddress" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrganizationAddress">
        <xs:sequence>
          <xs:element name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
          <xs:element name="City" type="xs:string" />
          <xs:element name="Region" type="xs:string" />
          <xs:element name="PostalCode" type="xs:string" />
          <xs:element name="Country" type="xs:string" />
          <xs:element name="Phone" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OVCSRInfo">
        <xs:sequence>
          <xs:element name="OrganizationName" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationUnit" nillable="true" type="xs:string" />
          <xs:element name="Locality" type="xs:string" />
          <xs:element name="StateOrProvince" type="xs:string" />
          <xs:element name="Country" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OVOrderWithoutCSRResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1OVOrderWithoutCSRResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1OVOrderWithoutCSRResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1DvOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DvOrderRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameter" type="tns:OrderRequestParameter" />
          <xs:element minOccurs="0" name="SubID" nillable="true" type="xs:string" />
          <xs:element name="OrderID" type="xs:string" />
          <xs:element name="ApproverEmail" type="xs:string" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1DvOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DvOrderResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="URLVerification">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1UrlVerificationRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1UrlVerificationRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameter" type="tns:OrderRequestParameter" />
          <xs:element minOccurs="0" name="SubID" nillable="true" type="xs:string" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="URLVerificationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1UrlVerificationResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1UrlVerificationResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MetaTag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VerificationURLList" nillable="true" type="tns:VerificationUrlList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VerificationUrlList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationURL" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVDNSOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1DvDnsOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DvDnsOrderRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameter" type="tns:OrderRequestParameter" />
          <xs:element minOccurs="0" name="SubID" nillable="true" type="xs:string" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DVDNSOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1DvDnsOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1DvDnsOrderResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DNSTXT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VerificationFQDNList" nillable="true" type="tns:VerificationFQDNList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangeSubjectAltName">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1ChangeSubjectAltNameRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1ChangeSubjectAltNameRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TargetOrderID" type="xs:string" />
          <xs:element minOccurs="0" name="ApproverEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
          <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangeSubjectAltNameResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1ChangeSubjectAltNameResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1ChangeSubjectAltNameResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderResponseHeader" nillable="true" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" type="xs:string" />
          <xs:element minOccurs="0" name="TargetOrderID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangeApproverEmail">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="ns1:QbV1ChangeApproverEmailsRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ChangeApproverEmailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="ns1:QbV1ChangeApproverEmailsResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="URLVerificationWithoutCSR">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1UrlVerificationWithoutCsrRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1UrlVerificationWithoutCsrRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameterWithoutCSR" type="ns1:OrderRequestParameterWithoutCSR" />
          <xs:element minOccurs="0" name="SubID" nillable="true" type="xs:string" />
          <xs:element name="FQDN" type="xs:string" />
          <xs:element name="DVCSRInfo" type="tns:DVCSRInfo" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="URLVerificationWithoutCSRResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1UrlVerificationWithoutCsrResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1UrlVerificationWithoutCsrResponse">
        <xs:sequence>
          <xs:element name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MetaTag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VerificationURLList" nillable="true" type="tns:VerificationUrlList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OVOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="Request" type="tns:QbV1OVOrderRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1OVOrderRequest">
        <xs:sequence>
          <xs:element name="OrderRequestHeader" type="tns:OrderRequestHeader" />
          <xs:element name="OrderRequestParameter" type="tns:OrderRequestParameter" />
          <xs:element name="SubID" type="xs:string" />
          <xs:element name="OrganizationInfo" type="tns:OrganizationInfo" />
          <xs:element name="ContactInfo" type="tns:ContactInfo" />
          <xs:element minOccurs="0" name="SecondContactInfo" nillable="true" type="tns:SecondContactInfo" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="tns:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OVOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Response" type="tns:QbV1OVOrderResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1OVOrderResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderResponseHeader" type="tns:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns1="https://system.globalsign.com/kb/ws/v1/" targetNamespace="https://system.globalsign.com/kb/ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="https://system.globalsign.com/kb/ws/v1/" />
      <xs:complexType name="OrderRequestParameterWithoutCSR">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:OrderRequestParameter">
            <xs:sequence>
              <xs:element name="Pin" type="xs:string" />
              <xs:element name="KeyLength" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="QbV1GetDVApproverListRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryRequestHeader" type="ns1:QueryRequestHeader" />
          <xs:element minOccurs="0" name="FQDN" type="xs:string" />
          <xs:element minOccurs="0" name="OrderID" type="xs:string" />
          <xs:element minOccurs="0" name="SANEntries" nillable="true" type="ns1:SANEntries" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1GetDVApproverListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryResponseHeader" type="ns1:QueryResponseHeader" />
          <xs:element minOccurs="0" name="Approvers" nillable="true" type="ns1:Approvers" />
          <xs:element minOccurs="0" name="OrderID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1ChangeApproverEmailsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderRequestHeader" type="ns1:OrderRequestHeader" />
          <xs:element minOccurs="0" name="OrderID" type="xs:string" />
          <xs:element minOccurs="0" name="ApproverEmail" type="xs:string" />
          <xs:element minOccurs="0" name="FQDN" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QbV1ChangeApproverEmailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderResponseHeader" type="ns1:OrderResponseHeader" />
          <xs:element minOccurs="0" name="OrderID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="OVOrderResponse">
    <wsdl:part name="parameters" element="tns:OVOrderResponse" />
  </wsdl:message>
  <wsdl:message name="URLVerificationResponse">
    <wsdl:part name="parameters" element="tns:URLVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="DVDNSOrderResponse">
    <wsdl:part name="parameters" element="tns:DVDNSOrderResponse" />
  </wsdl:message>
  <wsdl:message name="EVOrder">
    <wsdl:part name="parameters" element="tns:EVOrder" />
  </wsdl:message>
  <wsdl:message name="ResendEmail">
    <wsdl:part name="parameters" element="tns:ResendEmail" />
  </wsdl:message>
  <wsdl:message name="URLVerificationForIssueResponse">
    <wsdl:part name="parameters" element="tns:URLVerificationForIssueResponse" />
  </wsdl:message>
  <wsdl:message name="GetApproverList">
    <wsdl:part name="parameters" element="tns:GetApproverList" />
  </wsdl:message>
  <wsdl:message name="ModifyOrder">
    <wsdl:part name="parameters" element="tns:ModifyOrder" />
  </wsdl:message>
  <wsdl:message name="ChangeApproverEmail">
    <wsdl:part name="parameters" element="tns:ChangeApproverEmail" />
  </wsdl:message>
  <wsdl:message name="DVDNSOrderWithoutCsrResponse">
    <wsdl:part name="parameters" element="tns:DVDNSOrderWithoutCsrResponse" />
  </wsdl:message>
  <wsdl:message name="OVOrderWithoutCSR">
    <wsdl:part name="parameters" element="tns:OVOrderWithoutCSR" />
  </wsdl:message>
  <wsdl:message name="DVOrderResponse">
    <wsdl:part name="parameters" element="tns:DVOrderResponse" />
  </wsdl:message>
  <wsdl:message name="DVDNSOrderWithoutCsr">
    <wsdl:part name="parameters" element="tns:DVDNSOrderWithoutCsr" />
  </wsdl:message>
  <wsdl:message name="OVOrder">
    <wsdl:part name="parameters" element="tns:OVOrder" />
  </wsdl:message>
  <wsdl:message name="GetDVApproverList">
    <wsdl:part name="parameters" element="tns:GetDVApproverList" />
  </wsdl:message>
  <wsdl:message name="DVOrder">
    <wsdl:part name="parameters" element="tns:DVOrder" />
  </wsdl:message>
  <wsdl:message name="ChangeSubjectAltNameResponse">
    <wsdl:part name="parameters" element="tns:ChangeSubjectAltNameResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyOrderResponse">
    <wsdl:part name="parameters" element="tns:ModifyOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CertInviteOrderResponse">
    <wsdl:part name="parameters" element="tns:CertInviteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDVApproverListResponse">
    <wsdl:part name="parameters" element="tns:GetDVApproverListResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeSubjectAltName">
    <wsdl:part name="parameters" element="tns:ChangeSubjectAltName" />
  </wsdl:message>
  <wsdl:message name="CertInviteOrder">
    <wsdl:part name="parameters" element="tns:CertInviteOrder" />
  </wsdl:message>
  <wsdl:message name="ChangeApproverEmailResponse">
    <wsdl:part name="parameters" element="tns:ChangeApproverEmailResponse" />
  </wsdl:message>
  <wsdl:message name="DVOrderWithoutCSRResponse">
    <wsdl:part name="parameters" element="tns:DVOrderWithoutCSRResponse" />
  </wsdl:message>
  <wsdl:message name="URLVerificationForIssue">
    <wsdl:part name="parameters" element="tns:URLVerificationForIssue" />
  </wsdl:message>
  <wsdl:message name="URLVerification">
    <wsdl:part name="parameters" element="tns:URLVerification" />
  </wsdl:message>
  <wsdl:message name="EVOrderResponse">
    <wsdl:part name="parameters" element="tns:EVOrderResponse" />
  </wsdl:message>
  <wsdl:message name="OVOrderWithoutCSRResponse">
    <wsdl:part name="parameters" element="tns:OVOrderWithoutCSRResponse" />
  </wsdl:message>
  <wsdl:message name="DVDNSVerificationForIssueResponse">
    <wsdl:part name="parameters" element="tns:DVDNSVerificationForIssueResponse" />
  </wsdl:message>
  <wsdl:message name="URLVerificationWithoutCSR">
    <wsdl:part name="parameters" element="tns:URLVerificationWithoutCSR" />
  </wsdl:message>
  <wsdl:message name="DVDNSVerificationForIssue">
    <wsdl:part name="parameters" element="tns:DVDNSVerificationForIssue" />
  </wsdl:message>
  <wsdl:message name="ResendEmailResponse">
    <wsdl:part name="parameters" element="tns:ResendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="URLVerificationWithoutCSRResponse">
    <wsdl:part name="parameters" element="tns:URLVerificationWithoutCSRResponse" />
  </wsdl:message>
  <wsdl:message name="GetApproverListResponse">
    <wsdl:part name="parameters" element="tns:GetApproverListResponse" />
  </wsdl:message>
  <wsdl:message name="DVOrderWithoutCSR">
    <wsdl:part name="parameters" element="tns:DVOrderWithoutCSR" />
  </wsdl:message>
  <wsdl:message name="DVDNSOrder">
    <wsdl:part name="parameters" element="tns:DVDNSOrder" />
  </wsdl:message>
  <wsdl:portType name="ServerSSLV1">
    <wsdl:operation name="DVOrderWithoutCSR">
      <wsdl:input name="DVOrderWithoutCSR" message="tns:DVOrderWithoutCSR" />
      <wsdl:output name="DVOrderWithoutCSRResponse" message="tns:DVOrderWithoutCSRResponse" />
    </wsdl:operation>
    <wsdl:operation name="ModifyOrder">
      <wsdl:input name="ModifyOrder" message="tns:ModifyOrder" />
      <wsdl:output name="ModifyOrderResponse" message="tns:ModifyOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="EVOrder">
      <wsdl:input name="EVOrder" message="tns:EVOrder" />
      <wsdl:output name="EVOrderResponse" message="tns:EVOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="URLVerificationForIssue">
      <wsdl:input name="URLVerificationForIssue" message="tns:URLVerificationForIssue" />
      <wsdl:output name="URLVerificationForIssueResponse" message="tns:URLVerificationForIssueResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetApproverList">
      <wsdl:input name="GetApproverList" message="tns:GetApproverList" />
      <wsdl:output name="GetApproverListResponse" message="tns:GetApproverListResponse" />
    </wsdl:operation>
    <wsdl:operation name="DVDNSVerificationForIssue">
      <wsdl:input name="DVDNSVerificationForIssue" message="tns:DVDNSVerificationForIssue" />
      <wsdl:output name="DVDNSVerificationForIssueResponse" message="tns:DVDNSVerificationForIssueResponse" />
    </wsdl:operation>
    <wsdl:operation name="DVDNSOrderWithoutCsr">
      <wsdl:input name="DVDNSOrderWithoutCsr" message="tns:DVDNSOrderWithoutCsr" />
      <wsdl:output name="DVDNSOrderWithoutCsrResponse" message="tns:DVDNSOrderWithoutCsrResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDVApproverList">
      <wsdl:input name="GetDVApproverList" message="tns:GetDVApproverList" />
      <wsdl:output name="GetDVApproverListResponse" message="tns:GetDVApproverListResponse" />
    </wsdl:operation>
    <wsdl:operation name="CertInviteOrder">
      <wsdl:input name="CertInviteOrder" message="tns:CertInviteOrder" />
      <wsdl:output name="CertInviteOrderResponse" message="tns:CertInviteOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="ResendEmail">
      <wsdl:input name="ResendEmail" message="tns:ResendEmail" />
      <wsdl:output name="ResendEmailResponse" message="tns:ResendEmailResponse" />
    </wsdl:operation>
    <wsdl:operation name="OVOrderWithoutCSR">
      <wsdl:input name="OVOrderWithoutCSR" message="tns:OVOrderWithoutCSR" />
      <wsdl:output name="OVOrderWithoutCSRResponse" message="tns:OVOrderWithoutCSRResponse" />
    </wsdl:operation>
    <wsdl:operation name="DVOrder">
      <wsdl:input name="DVOrder" message="tns:DVOrder" />
      <wsdl:output name="DVOrderResponse" message="tns:DVOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="URLVerification">
      <wsdl:input name="URLVerification" message="tns:URLVerification" />
      <wsdl:output name="URLVerificationResponse" message="tns:URLVerificationResponse" />
    </wsdl:operation>
    <wsdl:operation name="DVDNSOrder">
      <wsdl:input name="DVDNSOrder" message="tns:DVDNSOrder" />
      <wsdl:output name="DVDNSOrderResponse" message="tns:DVDNSOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSubjectAltName">
      <wsdl:input name="ChangeSubjectAltName" message="tns:ChangeSubjectAltName" />
      <wsdl:output name="ChangeSubjectAltNameResponse" message="tns:ChangeSubjectAltNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="ChangeApproverEmail">
      <wsdl:input name="ChangeApproverEmail" message="tns:ChangeApproverEmail" />
      <wsdl:output name="ChangeApproverEmailResponse" message="tns:ChangeApproverEmailResponse" />
    </wsdl:operation>
    <wsdl:operation name="URLVerificationWithoutCSR">
      <wsdl:input name="URLVerificationWithoutCSR" message="tns:URLVerificationWithoutCSR" />
      <wsdl:output name="URLVerificationWithoutCSRResponse" message="tns:URLVerificationWithoutCSRResponse" />
    </wsdl:operation>
    <wsdl:operation name="OVOrder">
      <wsdl:input name="OVOrder" message="tns:OVOrder" />
      <wsdl:output name="OVOrderResponse" message="tns:OVOrderResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServerSSLServiceSoapBinding" type="tns:ServerSSLV1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModifyOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ModifyOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ModifyOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DVOrderWithoutCSR">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="DVOrderWithoutCSR">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DVOrderWithoutCSRResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EVOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="EVOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EVOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="URLVerificationForIssue">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="URLVerificationForIssue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="URLVerificationForIssueResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApproverList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetApproverList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetApproverListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DVDNSVerificationForIssue">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="DVDNSVerificationForIssue">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DVDNSVerificationForIssueResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DVDNSOrderWithoutCsr">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="DVDNSOrderWithoutCsr">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DVDNSOrderWithoutCsrResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDVApproverList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetDVApproverList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDVApproverListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CertInviteOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="CertInviteOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CertInviteOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendEmail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ResendEmail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResendEmailResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OVOrderWithoutCSR">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="OVOrderWithoutCSR">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OVOrderWithoutCSRResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DVOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="DVOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DVOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="URLVerification">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="URLVerification">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="URLVerificationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSubjectAltName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ChangeSubjectAltName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeSubjectAltNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DVDNSOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="DVDNSOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DVDNSOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeApproverEmail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ChangeApproverEmail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeApproverEmailResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="URLVerificationWithoutCSR">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="URLVerificationWithoutCSR">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="URLVerificationWithoutCSRResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OVOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="OVOrder">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OVOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerSSLService">
    <wsdl:port name="ServerSSLV1Port" binding="tns:ServerSSLServiceSoapBinding">
      <soap:address location="https://system.globalsign.com/kb/ws/v1/ServerSSLService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>